[alias]
    myconfig = config --global -e
    aa = add --all
    au = add --update
    ca = commit --amend
    cm = commit -m
    co = checkout
    cp = cherry-pick
    purge = clean -fdx
    ls = git ls-files
    dt = difftool
    mt = mergetool
    nb = checkout -b
    feature = "!f() { name=${1}; git checkout -b feature/$name; };f"
    bugfix = "!f() { name=${1}; git checkout -b bugfix/$name; };f"
    branches = branch -l
    trim = branch -d
